<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Utah's Watershed Restoration Initiative Web API</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico">
	<style type="text/css">

		body {
			text-align: center;
		    background-color: black;
		}

	</style>

</head>
<body>
	<img src="~/Content/logo.png" alt="logo" /><br />
</body>
</html>
